.top-container {
    margin : 1%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    font-family: 'Montez', cursive; 
    margin: 0;
    padding: 0;
    color: blue;
}

.sub-heading {
    font-family: 'Ubuntu Mono';
    margin: 0;
    padding: 0;
}