html, body {
    height: 100%;
    overflow: hidden;
}


body {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-container {
    margin : 1%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    min-height: 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.heading {
    font-family: 'Montez', cursive; 
    margin: 0;
    padding: 0;
    color: blue;
}

.sub-heading {
    font-family: 'Ubuntu Mono';
    margin: 0;
    padding: 0;
}

.modal-dialog .form-control {
    border: 0;
    background-color: #e9ecef;
}

.modal-dialog .btn {
    margin-top : 30px;
    margin-bottom : 15px;
}

.modal-dialog .gosignup {
    text-align: center;
}



