html, body {
    height: 100%;
    overflow: hidden;
}


body {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-container {
    min-height: 80vh;
    display : flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

