body {
    background-color: #ffeedd !important; 
}

.postowner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-wrapper {
    border-radius: 25px !important;
}

.card-title {
    color: grey;
}

.card {
    overflow: hidden !important;
    border : 0 !important;
}

.card-body {
    background-color: #e9ecef;
    padding : 10px;
}

i {
    float: right;
}

.postdetail {
    line-height: 18px;
    max-height: 54px; /* line-height * 3 */
    overflow: hidden;
}

.modal-dialog .confirm-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-dialog {
    max-width: 345px !important;
}

